.news-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #26272b;
  }
  
  .card {
    margin-bottom: 20px;
    width: 100%;
    max-width: 800px;
    background-color: #1e1e1e;
    color: #f4f4f4;
  }
  
  .card img {
    max-width: 200px;
  }
  
  .card-body {
    padding: 20px;
  }
  
  .card-heading {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .card-text {
    font-size: 1em;
  }
  