
.buy-container {
    background-color: #26272b;
    padding: 3% 5%;
    display: flex;
}

.buy-left{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.left-tabs {
    width: 820px;
    padding-top: 2%;
    padding-left: 19%;
}